@import "tailwindcss";

@theme {
  --text-xs: 1rem;
  --text-sm: 1.2rem;
  --text-base: 1.4rem;
  --text-lg: 1.6rem;
  --text-xl: 1.8rem;
  --text-2xl: 2rem;
  --text-3xl: 2.6rem;
  --text-4xl: 3rem;

  --breakpoint-md: 769px;
  --breakpoint-lg: 1024px;

  --color-primary: #006b8b;
  --color-secondary-dark: #fbffa9;
  --color-secondary-light: #feffec;
  --color-gray-dark: #868282;
  --color-gray-medium: #d9d9d9;
  --color-gray-light: #e8e8e8;
  --color-error: #f9617a;
  --color-warning: #f9617a;
  --color-dimmer-900: #17171980;
}

html {
  color: #013a4b;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #f9f9f9; 
}
body {
  font-size: 1.4rem;
}


.scroll-container {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroll-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}


@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #9b5de5, #f15bb5, #fee440, #00bbf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}






@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .pc-only {
    display: none;
  }
}


@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }

  .pc-only {
    display: block;
  }

  html {
    font-size: 68.75%; 
  }
}


.cursor-wait {
  cursor: wait;
}
